.main-header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f6f5f5;
}

.header-user-greetings {
  font-weight: 500;
  margin-left: 30px;
  font-size: 19px;
}

.header-user-greetings p{
  font-size: 14px;
}

.header-options {
  display: flex;
  width: 300px;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}

.header-options-search input {
  padding: 10px;
  color: grey;
  border: 2px solid lightgray;
  border-radius: 10px;
}

.header-options-search input:focus {
  color: black;
}

.header-options-logout {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}