.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.main-body {
  box-sizing: border-box;
  width: calc(100% - 280px);
  background-color: #f6f5f5;
  overflow: hidden;
}